<div class="container-fluid">

  <div class="row">

      <div class="col-md-5">
        <div class="form-group">
              <label for="code">Paste your code here</label>
              <textarea rows="15" cols="7" class="form-control" [(ngModel)]="codeRequest.script" name="code" id="code" placeholder="Paste your code snippet here..." required></textarea>
        </div>

      </div>

      <div class="col-md-1">
      <button class="btn btn-success mt-2" (click)="runCode()">Run</button>
        <div class="form-group mt-3">
        <label for="language">Select Language</label>
          <select name="language" [(ngModel)]="codeRequest.language" class="form-control">select
            <option *ngFor="let language of languages" value="{{ language }}">{{ language }}</option>
          </select>
        </div>
      </div>

      <div class="col-md-5 ml-0">
          <div class="form-group">
              <label for="code">Result</label>
              <textarea rows="15" cols="7" class="form-control" name="code" id="code"></textarea>
        </div>
      </div>

  </div>
</div>
